<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="infoFile" xsi:type="File" fileName="Logs/Infos_${date:format=yyyy-MM-dd}.txt"
            layout="[${time}][${uppercase:${level}}]  ->  ${message}"
            archiveFileName="${basedir}/Logs/Archives/Infos_${date:format=yyyy-MM-dd}.zip"
            archiveEvery="Day" maxArchiveFiles="7" enableArchiveFileCompression="true" />
    <target name="warningFile" xsi:type="File" fileName="Logs/Warnings_${date:format=yyyy-MM-dd}.txt"
            layout="[${time}][${uppercase:${level}}]  ->  ${message}"
            archiveFileName="${basedir}/Logs/Archives/Warning_${date:format=yyyy-MM-dd}.zip"
            archiveEvery="Day" maxArchiveFiles="7" enableArchiveFileCompression="true" />
    <target name="errorFile" xsi:type="File" fileName="Logs/Errors_${date:format=yyyy-MM-dd}.txt"
            layout="[${time}][${uppercase:${level}}]  ->  ${message}"
            archiveFileName="${basedir}/Logs/Archives/Errors_${date:format=yyyy-MM-dd}.zip"
            archiveEvery="Day" maxArchiveFiles="7" enableArchiveFileCompression="true" />
    <target name="debugFile" xsi:type="File" fileName="Logs/Debug_${date:format=yyyy-MM-dd}.txt"
            layout="[${time}][${uppercase:${level}}]  ->  ${message}"
            archiveFileName="${basedir}/Logs/Archives/Debug_${date:format=yyyy-MM-dd}.zip"
            archiveEvery="Day" maxArchiveFiles="7" enableArchiveFileCompression="true" />

    <target xsi:type="ColoredConsole"
       name="ConsoleLogger"
       encoding="utf-8"
       layout="${date} | [${level:uppercase=true}]: ${message}"
       useDefaultRowHighlightingRules="true"
       errorStream="false"
       enableAnsiOutput="false"
       detectConsoleAvailable="false"
       DetectOutputRedirected="false" />

  </targets>

  <rules>
    <logger name="*" level="Info" writeTo="ConsoleLogger" enabled="true" />
    <logger name="*" level="Warn" writeTo="ConsoleLogger" enabled="true" />
    <logger name="*" level="Error" writeTo="ConsoleLogger" enabled="true" />
    <logger name="*" level="Fatal" writeTo="ConsoleLogger" enabled="true" />
    <logger name="*" level="Debug" writeTo="ConsoleLogger" enabled="true" />
  </rules>
</nlog>